################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PmServiceNetCore/FileContentIndex/8f814fd2-5e68-4ec5-8661-4613c68824cb.vsidx
